@charset "utf-8";/* */
html { scroll-behavior: smooth; } 
html,
body { height:100%; width:100%; max-width:initial !important; } 
body { background-color: #121315; } 
body.active { } 
html,
body,
*,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video { color:#fff; letter-spacing: -0.05em; margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box; font-family:"AppleSDGothicNeo","Segoe-UI","맑은 고딕","malgun gothic","돋움","dotum",sans-serif; } 
li,
ul,
ol { list-style:none; } 
a { color:#fff; text-decoration:none !important; outline:0; border:0; } 
button { outline:0; border:0; } 
h1,
h2,
h3,
p,
span
a { word-break:keep-all; } 
.txt_hidden { font-size:0; line-height:0; color:transparent; overflow:hidden; text-indent:-999999px; } 
i.icon { display: inline-block; text-indent: -99999px; } 
i.icon.lightMode { width: 21px; height:21px; background: url("../img/icon_linght_mode.webp") no-repeat center /cover; } 
i.icon.link { width: 24px; height:20px; background: url("../img/icon_link.svg") no-repeat center /cover; } 
.btn_style_01 { border:2px solid #fff; background: transparent; font-size: var(--ssm-default-size--); line-height: 15px; font-weight: 700; color: #fff; width:100%; max-width: 140px; height:40px; display: flex; justify-content: center; align-items: center; border-radius: 10px; } 
.btn_style_02 { font-size: var(--ssm-default-size--); font-weight: 700; max-width:130px; width:100%; padding:12px 0; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border-radius: 30px; background-color: #0071E3; color:#fff; } 
@media(max-width:1024px) { /* icon */
 /* btn */
.btn_style_01 { max-width: 130px; height:40px; } 
i.icon.lightMode { width: 15px; height:15px; } 
i.icon.link { width: 20px; height:16px;} 

 }

 /* responsive */
 .only_mo { display:none; } 
 .only_ta { display:none; } 

 /* space system */
 :root { --r-space--:30px; --l-space--:50px; --xl-space--:60px; --xxl-space--: 110px; } 
 @media (max-width:1024px){
 :root { --r-space--:20px; --l-space--:40px; --xl-space--:50px; --xxl-space--:60px; } 
 }

 @media (min-width:1025px){
 .only_ta { display:none; } 
 .only_mo { display:none; } 
 }

 @media (max-width:1024px){
 .only_ta { display:inline-block; } 
 }

 @media (max-width:768px){
 .only_ta { display:none; } 
 .only_mo { display:inline-block; } 
 }

/* fontsize */
:root { --ssm-default-size--: 15px; --sm-default-size--: 20px; --l-default-size--: 64px; --xl-default-size--: 70px; --subTitle-size--: 30px; --sub-r-size--: 50px; --sub-r-size02--: 20px; } 
@media (max-width:1024px){
 :root { --ssm-default-size--: 14px; --sm-default-size--: 18px; --l-default-size--: 48px; --xl-default-size--: 54px; --subTitle-size--: 28px; --sub-r-size--: 34px; --sub-r-size02--: 18px; } 
 }
/* scetion_common */
.sec_m { margin:110px 0; } 
.sec_m01 { margin:110px 0 0; } 
.sec_p { padding:110px 0; box-sizing: border-box; } 
/* br_block */
.block_1024 { display:none; } 
.none_1024 { display:block; } 
.block_768 { display:none; } 
.none_768 { display:block; } 
/* header */
header { z-index: 100; position: fixed; top:0; left:0; width:100%; padding:20px 60px; box-sizing: border-box; } 
header > nav { display: flex; align-items: center; justify-content: space-between; } 
header a.logo { font-size: 48px; font-weight: 500; } 
header .light_mode { display: flex; align-items: center; justify-content: center; cursor: pointer; padding:10px; box-sizing: border-box; border-radius: 50%; background-color: #25272B; } 
/* scroll_bar */
body::-webkit-scrollbar { width: 5px; } 
body::-webkit-scrollbar-thumb { background-color: #fff; border-radius: 5px; } 
body::-webkit-scrollbar-track { background-color: rgba(181, 181, 181, 30%); } 
@media(hover:hover) { } 

/* side_nav */

/* footer */


@media (max-width:1600px) { /* */
/* max-width */
.w1600 { padding:0 20px; box-sizing: border-box; } 
 /* scetion_common */
.sec_m { margin:140px 0; } 
.sec_m01 { margin:140px 0 0; } 
.sec_p { padding:140px 0; box-sizing: border-box; } 

/* header */}

@media (max-width:1024px) { /* */
.mob_display { display:none; } 
#header .flex { justify-content: space-between; } 
/* scetion_common */
.sec_m { margin:60px 0; } 
.sec_m01 { margin:60px 0 0; } 
.sec_p { padding:60px 0; box-sizing: border-box; } 
/* br_block */
.block_1024 { display:block; } 
.none_1024 { display:none; } 
/* header */
header{padding:20px;}
header a.logo{font-size:30px;}
header .light_mode{padding:8px;}


/* mobile_nav */

/* footer */}

@media (max-width:768px) { /* */
/* br_block */
.block_768 { display:block; } 
.none_768 { display:none; } 
/* footer */}